body{
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
nav{
    width: 100%;
    background-color: #d32210;
}
nav > ul{
    margin: 0px
    padding: 0px
}
nav > ul::after{
    content: "";
    display: block;
    clear: both;
}
nav > ul > li{
    float: left;
    position: relative;
}
nav > ul > li >a{
    padding: 20px 30px;
    color: #FFF;
}
nav li{
    list-style-type: none;
}
.submenu{
    display: none;
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.submenu li{
    border-bottom: 1px solid #CCC;
}
.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}
.menu-ind-header:hover, .menu-ind:hover{
    border-top: 5px solid #4C8;
    background-color: RGBa(64, 200, 130, 0.15);
}
.menu-exp:hover, .menu-exp-header:hover{
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241, 211, 79, 0.15);
}
.menu-hob:hover, .menu-hob-header:hover{
    border-top: 5px solid #0070bb;
    background-color: RGBa(000, 112, 192, 0.15);
}

.menu-con:hover, .menu-con-header:hover{
    border-top: 5px solid #e44d26;
    background-color: RGBa(228, 77, 38, 0.15);
}
.menuInd, .menuCon, .menuExp, .menuHob{
  width: 200px;
}
h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

header{
    height: 100px;
}

footer{
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #c5c5c5;
    border-top: 2px solid #AAA;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

li{
  list-style-type: none;
}

/*{
      border-style: solid;
      border-bottom: 0px;
      border-top: 0px;
      border-right: 0px;
      border-left-width: 50px;
      border-color: #d32210;
}
*/
.table{
    display: table;
    margin: 0 auto;
}



.bordure{
  width: 300px;
  height: 500px;
  background-color: #efefef;
}

#contenu{
  float: right;
  margin-top: -400px;
}

@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px
    }
}
